@font-face {
  font-family: domain;
  src: url(domain.ttf);
}
*{
    margin: 0px;
    padding: 0px;
   
}
body{
  background-color:#ecc1ccd5 ;
  height:calc(100vh- 68.52rem);
}
html{
    font-size: 62.5%;
}


   #list{
  display:flex;
  position: absolute;
  left:79rem;
  top:1rem;


    list-style-type: none;
    margin-top: 1.4rem;
    /* width: 110px; */

   }

.margin{
    margin:0rem 1.9rem;
}
li a{
    text-decoration: none;
    font-size: 1.8rem;
    color:#3a3a3a;
}
li a::after{
    content:'';
    height: .4rem;
    width: 0;
    background: #e27e97d5;
    transition: all .5s;
    display: block;
}
li a:hover::after{
    width: 100%;

}
li a:hover{
    color:#3a3a3a;
}
.buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:16rem;
    margin-top: 2.5rem;
}
.btnstyle{
    margin:2rem 0rem;
    padding: 1.6rem 5.5rem;
    border-radius: 1.5rem;
    color: #191919;
    font-size: 1.8rem;
    cursor: pointer;
}
.btnstyle:hover{
    background-color: #e35e7fd5;
}
.logo{
    width: 11rem;
    position: absolute;

}
#search{
    border-radius: 2rem;
   
    padding:1rem 8rem 1rem 3.3rem;
   
  
}
.searchbar{
    position: absolute;
    left:39rem;
    margin-top: 1.4rem;
}
#search:hover{
    background-color:#ec8da4d5 ;
    cursor:pointer;
}
#image{
  position: relative;
  right:26.9rem;
  top:1rem;
  width:2rem;
  margin-bottom: .5rem;

}
.cl1::-webkit-input-placeholder{
    color:white;
}
.cl2::-webkit-input-placeholder{
    color:rgb(54, 53, 53);
}
.header{
    width:126rem;
    height:6.852rem;
    background-color: #828181e2;
}
 
 
  .text{
    font-size: 5rem;
    margin-top: 15rem;
    /* margin-left: 15rem; */
    margin-right: 20rem;
    text-align: right;
    /* display: flex;
    flex-direction: column;
    right: 100rem;
    top: 10rem;*/
  } 

  .text p{
    margin-right: 16rem;
  }
.text h1,h2{
  font-family: domain;
  color:#3a3a3a;
  position: relative;
  bottom:6rem;
  
  
  /* color: rgb(36, 150, 242); */
}
.text h2{
  margin-right: 25rem;
}
.text p{
  position:relative;
  left:17rem;
  font-family: canopee;
  color:#e56f8dd5;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  html{
      font-size: 80%;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  html{
    font-size: 62.5%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */html{
    font-size:53.75% ;
  }    
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  html{
    font-size:81.25% ;
  }  
  
}  */

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

/* @media (min-width: 481px) and (max-width: 767px) {
  
 
  
} */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  html{
    font-size: 43.75%;
  }
  
}